---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import Feature from '@components/Feature.astro'
---

<DefaultLayout title="Consultoría">
  <PageHeader title="Consultoría" subtitle="Servicios de consultoría para mejorar la accesibilidad y el desarrollo de tu proyecto web." bgType="bordered" />
  <section class="my-12">
    <div class="container">
      <p class="text-2xl">Contacta con nosotros para recibir asesoramiento personalizado en accesibilidad y desarrollo web.</p>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-3 mt-12">
        <Feature icon="lucide:code" title="Calidad del código">
          Nuestro equipo garantiza un código limpio, eficiente y mantenible, siguiendo las mejores prácticas del sector.
        </Feature>
        <Feature icon="lucide:user-check" title="Trato personalizado">
          Nos adaptamos a tus necesidades, ofreciendo soluciones a medida y una comunicación directa en cada etapa del proyecto.
        </Feature>
        <Feature icon="lucide:smartphone" title="Acompañamiento integral">
          Te guiamos durante todo el proceso de desarrollo y publicación de tu aplicación móvil, tanto en Android como en iOS.
        </Feature>
      </div>
    </div>
  </section>
</DefaultLayout> 