---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
---

<DefaultLayout title="Cursos">
  <PageHeader title="Cursos" subtitle="Descubre nuestros cursos de accesibilidad, desarrollo web y más." bgType="bordered" />
  <section class="my-12">
    <div class="container">
      <p class="text-2xl">Próximamente encontrarás aquí toda la información sobre nuestros cursos.</p>
    </div>
  </section>
</DefaultLayout> 