---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
---

<DefaultLayout title="Consultoría">
  <PageHeader title="Consultoría" subtitle="Servicios de consultoría para mejorar la accesibilidad y el desarrollo de tu proyecto web." bgType="bordered" />
  <section class="my-12">
    <div class="container">
      <p class="text-2xl">Contacta con nosotros para recibir asesoramiento personalizado en accesibilidad y desarrollo web.</p>
    </div>
  </section>
</DefaultLayout> 