---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
---

<DefaultLayout title="GDG Aranjuez">
  <PageHeader title="GDG Aranjuez" subtitle="Comunidad de Google Developers Group en Aranjuez. Eventos, charlas y networking tecnológico." bgType="bordered" />
  <section class="my-12">
    <div class="container">
      <p class="text-2xl">Descubre nuestras actividades y únete a la comunidad GDG Aranjuez.</p>
    </div>
  </section>
</DefaultLayout> 